body{
    margin: 0;
    padding: 0;
    background: black;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.navbar{
    overflow: hidden;
    background-color:teal;
    background: teal (0, 0, 0, 0.5);
}
.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover{
    cursor: pointer;
    background: black;
    color:white; 
}