body{
    margin: 0;
    padding: 0;
    background: gray;
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.navbar{
    overflow: hidden;
    background-color:teal;
    background: teal (0, 0, 0, 0.5);
}
.navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar a:hover{
    cursor: pointer;
    background: black;
    color:white;
}  
.card {
    background: white;
    box-shadow: teal;
    max-width: 500px;
    margin: 10px 10px;
    text-align: center;
    font-family: arial;
}
.card image {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.title {
    text-decoration: none;
    font-size: 22px;
    color:teal;
}
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color:white;
    background-color:black;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover, a:hover {
    cursor: pointer;
    background:teal;
    color: black;
}
.histo-box {
    box-shadow: 0 50px 25px 20 #008080;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.histo {
    text-decoration: none;
    font-size: 22px;
    color:teal;
}
.inter-box{
    box-shadow: teal;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
} 
.txt {
    text-decoration: none;
    font-size: 22px;
    color:green;
}
  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover, a:hover {
    opacity: 0.7;
}

.redflag-box{
    box-shadow: teal;
    max-width: 500px;
    margin: auto;
    text-align: center;
    font-family: arial;
}  
.text {
    text-decoration: none;
    font-size: 22px;
    color:red;
}  
button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
button:hover, a:hover {
    opacity: 0.7;
}
.foobar{
    overflow: hidden;
    background-color:teal;
}
.foobar a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.foobar a:hover{
    cursor: pointer;
    background:black;
    color:white; 
}